# Syntax – Creating DataFrames
데이터프레임 생성하기

In [1]:
import pandas as pd

## Create DataFrame with a single index
인덱스가 한 개인 데이터프레임 생성하기
### Specify values for each column.
열을 기준으로 값을 넣은 데이터프레임 생성

In [2]:
df = pd.DataFrame(
        {'a': [4, 5, 6],
         'b': [7, 8, 9],
         'c': [10, 11, 12]},
    index = [1, 2, 3]
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### Specify values for each row.
행을 기준으로 값을 넣은 데이터프레임 생성

In [3]:
df2 = pd.DataFrame(
        [[4, 7, 10],
         [5, 8, 11],
         [6, 9, 12]],
    index = [1, 2, 3],
    columns = ['a', 'b', 'c']
)
df2

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## Create DataFrame with a MultiIndex
인덱스가 여러 개인 데이터프레임 생성하기

In [4]:
df3 = pd.DataFrame(
        {'a': [4, 5, 6],
         'b': [7, 8, 9],
         'c': [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d', 1), ('d', 2), ('e', 2)],
        names = ['n', 'v']
    )
)
df3

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

---
# Indexing
인덱싱하기 - 조건에 맞는 데이터 찾기
### Index by columns
조건에 맞는 열의 데이터 가져오기

In [5]:
df['a']

1    4
2    5
3    6
Name: a, dtype: int64

In [6]:
df[['a']]

   a
1  4
2  5
3  6

In [7]:
df[['a', 'b']]

   a  b
1  4  7
2  5  8
3  6  9

### Index by rows
조건에 맞는 행의 데이터 가져오기

In [8]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [9]:
df.loc[[1]]

   a  b   c
1  4  7  10

In [10]:
df.loc[[1, 2]]

   a  b   c
1  4  7  10
2  5  8  11

### Index values of specific rows and columns
조건에 맞는 행과 열의 데이터를 가져오기

In [11]:
df.loc[1, 'a']

4

In [12]:
df.loc[[1], ['a']]

   a
1  4

In [13]:
df.loc[[1, 2], 'a']

1    4
2    5
Name: a, dtype: int64

In [14]:
df.loc[[1, 2], ['a']]

   a
1  4
2  5

In [15]:
df.loc[[1, 2], ['a', 'b']]

   a  b
1  4  7
2  5  8