# Syntax – Creating DataFrames
데이터프레임 생성하기<br>

1. [Create DataFrame with a single index](#1)
 1. Specify values for each column.
 2. Specify values for each row.
2. [Create DataFrame with a MultiIndex](#2)

In [1]:
import pandas as pd

## Create DataFrame with a single index<a name="1"></a>
인덱스가 한 개인 데이터프레임 생성하기
### Specify values for each column.
열을 기준으로 값을 넣은 데이터프레임 생성

In [2]:
df = pd.DataFrame(
        {'a': [4, 5, 6],
         'b': [7, 8, 9],
         'c': [10, 11, 12]},
    index = [1, 2, 3]
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### Specify values for each row.
행을 기준으로 값을 넣은 데이터프레임 생성

In [3]:
df2 = pd.DataFrame(
        [[4, 7, 10],
         [5, 8, 11],
         [6, 9, 12]],
    index = [1, 2, 3],
    columns = ['a', 'b', 'c']
)
df2

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## Create DataFrame with a MultiIndex<a name="2"></name>
인덱스가 여러 개인 데이터프레임 생성하기

In [4]:
df3 = pd.DataFrame(
        {'a': [4, 5, 6],
         'b': [7, 8, 9],
         'c': [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d', 1), ('d', 2), ('e', 2)],
        names = ['n', 'v']
    )
)
df3

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12