# Logic in Python (and pandas)
0. [Preparation](#0)
1. [Comparison Operators](#1)
2. [Group membership: `isin`](#2)
3. [NaN](#3)
 1. [Is NaN: `isnull`](#3-1)
 2. [Is not NaN: `notnull`](#3-2)
4. [Locigal and, or, not, xor, any, all](#4)

## 0. Preparation<a name="0"></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan, 4, 5],
        "b" : [7, 8, np.nan, 9, 9, 7, 5],
        "c" : [10, 11, 12, np.nan, 12, 10, 5]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4), ('e', 5), ('e', 6)],
        names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0
  5  4.0  7.0  10.0
  6  5.0  5.0   5.0

## 1. Comparison Operators<a name="1"></a>
- `<`: Less than
- `>`: Greater than
- `==`: Equals
- `<=`: Less than or equals
- `>=`: Greather than or equals
- `!=`: Not equal to

In [2]:
df['b'] != 7

n  v
d  1    False
   2     True
e  2     True
   3     True
   4     True
   5    False
   6     True
Name: b, dtype: bool

In [3]:
df[df['b'] != 7]

       a    b     c
n v
d 2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0
  6  5.0  5.0   5.0

In [4]:
df[df.b != 7]

       a    b     c
n v
d 2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0
  6  5.0  5.0   5.0

---
## 2. Group membership: `isin`<a name="2"></a>
```python
df.column.isin(values)
df['column'].isin(values)
```
- Values should be conmbined with `[]` even it has only one value.
- Values에 값이 하나만 들어가도 `[]`로 묶어줘야 함

In [5]:
df.a.isin([5])

n  v
d  1    False
   2     True
e  2    False
   3    False
   4    False
   5    False
   6     True
Name: a, dtype: bool

In [6]:
df['a'].isin([5, 6])

n  v
d  1    False
   2     True
e  2     True
   3     True
   4    False
   5    False
   6     True
Name: a, dtype: bool

In [7]:
df[df.a.isin([5, 6])]

       a    b     c
n v
d 2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  6  5.0  5.0   5.0

---
## 3. NaN<a name="3"></a>
### A. Is NaN: `isnull`<a name="3-1"></a>
```python
pd.isnull(obj)
```

In [8]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True  False
  3  False  False   True
  4   True  False  False
  5  False  False  False
  6  False  False  False

In [9]:
df['a'].isnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
   5    False
   6    False
Name: a, dtype: bool

In [10]:
df.a.isnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
   5    False
   6    False
Name: a, dtype: bool

In [11]:
df['a'].isnull().sum()

1

### B. Is not NaN: `notnull`<a name="3-2"></a>
```python
pd.notnull(obj)
```

In [12]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True
  5   True   True   True
  6   True   True   True

In [13]:
df.notnull()

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True
  5   True   True   True
  6   True   True   True

In [14]:
df.notnull().sum()

a    6
b    6
c    6
dtype: int64

In [15]:
df.a.notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
   5     True
   6     True
Name: a, dtype: bool

In [16]:
~df.a.notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
   5    False
   6    False
Name: a, dtype: bool

---
## 4. Locigal and, or, not, xor, any, all<a name="4"></a>
- `&`: and
- `|`: or
- `~`: not
- `^`: xor
- `df.any()`: any
- `df.all()`: all

In [17]:
df[(df.a == 4) & (df.b == 7)]

       a    b     c
n v
d 1  4.0  7.0  10.0
e 5  4.0  7.0  10.0

In [18]:
df[(df.a == 5) | (df.b == 7)]

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 5  4.0  7.0  10.0
  6  5.0  5.0   5.0

In [19]:
df[~(df.a == 4) & ~(df.b == 7)]

       a    b     c
n v
d 2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0
  6  5.0  5.0   5.0

In [20]:
df[(df.a == 6) ^ (df.c == 12)]

       a    b     c
n v
e 3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [21]:
(df.a == 4).any()

True

In [22]:
(df.a == 4).all()

False